.container{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}