.card-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-post-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
