<form class="example-form" *ngIf="showMe"  (ngSubmit)="onSubmit()" [formGroup]="addCommentForm">
  <div>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label for="email">email</mat-label>
      <input matInput type="email" name="email" formControlName="email" id="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label for="name">name</mat-label>
      <input matInput type="text" name="comment_name" formControlName="name" id="comment_name" />
    </mat-form-field>

    <mat-form-field  appearance="fill" class="example-full-width">
      <mat-label for="body">body</mat-label>
      <textarea matInput type="text" name="body" formControlName="body" id="body"></textarea>
    </mat-form-field>
    <div class="button-wrapper">
    <button mat-flat-button color="primary"  type="submit" [disabled]="!addCommentForm.valid">Submit</button>
    </div>

  </div>
</form>
